<div id="index-post" class="contailer-fluid">
		<div class="row-fluid">
			<div id="recentpost-banner">
				<h2>Recent Posts</h2>
			</div>
			<div id="create-post">
				<%= link_to "Create a Post", new_post_path%>
			</div>
		</div>
		<div class="row-fluid col-md-6 col-md-offset-2">
			<% @posts.each do |post| %>
				<dl id="posts">
					<dt id="post-title"><%=link_to post.title, post_path(post.id)%></dt>
					<dd id="post-body"><%=post.body%></dd>
					<dd id="post-author">By <%= link_to post.user.username, user_path(post.user.id)%></dd>
				</dl>
			<% end %>
		</div>
</div>



